<section id="sobremi">
    <div class="contenedor-foto">
        <img src="../../../assets/foto.jpg" alt="">
    </div>
    <div class="sobremi">
        <p class="titulo-seccio">Sobre Mi</p>
        <h2>Hola, soy <span>Ivan Morales</span></h2>
        <h3>Desarrolador De Software</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel illo provident impedit! Quidem distinctio, molestias nostrum ducimus maxime porro error aliquam deleniti nemo quia.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <a href="#">Ir a github</a>
    </div>
</section>