<div class="container">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul class="container">
            <li class="card">
                <h3>Secundario</h3> - <h4>(tiempo)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta modi accusamus quo ab! Corrupti nobis eius, a assumenda voluptatum numquam sit eum, dolorem ut sapiente inventore nihil enim iusto consequuntur!</p>
            </li>
            <li class="card">
                <h3>Universidad</h3> - <h4>(tiempo)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta modi accusamus quo ab! Corrupti nobis eius, a assumenda voluptatum numquam sit eum, dolorem ut sapiente inventore nihil enim iusto consequuntur!</p>
            </li>
           

        </ul>
    </div>
</div>

