<div class="row">
  <div class="text-center col-sm-10 col-md-10 col-lg-10">
    <h3> Hard & Soft skills</h3>
    
    <circle-progress
  [percent]="85"
  [radius]="50"
  [showUnits]="false"
  [title]="'HTML'"
  [showSubtitle]="false"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#160530f7'"
  [innerStrokeColor]="'#ff5080'"
  [animation]="true"
  [animationDuration]="600"
  ></circle-progress>
  <circle-progress
  [percent]="85"
  [radius]="50"
  [showUnits]="false"
  [title]="'css'"
  [showSubtitle]="false"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#160530f7'"
  [innerStrokeColor]="'#ff5080'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
 
  
    <circle-progress
  [percent]="85"
  [radius]="50"
  [showUnits]="false"
  [title]="'js'"
  [showSubtitle]="false"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#160530f7'"
  [innerStrokeColor]="'#ff5080'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
  
  
    <circle-progress
  [percent]="85"
  [radius]="50"
  [showUnits]="false"
  [title]="'java'"
  [showSubtitle]="false"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#160530f7'"
  [innerStrokeColor]="'#ff5080'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
  
</div>

