<div>
    <div class="container">
        <div class="card" id="card1">
            <h3>Trabajo 1</h3>                        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis a dolor odit impedit, distinctio natus repellendus iure quia, quas quisquam voluptas illo necessitatibus magni autem dolores maiores voluptatum voluptate sapiente?</p>
        </div>
        <div class="card" id="card1">
            <h3>Trabajo 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis a dolor odit impedit, distinctio natus repellendus iure quia, quas quisquam voluptas illo necessitatibus magni autem dolores maiores voluptatum voluptate sapiente?</p>
        </div>
        <div class="card" id="card1">
            <h3>Trabajo 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis a dolor odit impedit, distinctio natus repellendus iure quia, quas quisquam voluptas illo necessitatibus magni autem dolores maiores voluptatum voluptate sapiente?</p>
        </div>
    </div>    
</div>


