<div class="container">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
      <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged">
        Nueva Experiencia
      </button>
    </div>
    <div class="col-lg-11">
        <ul class="container" *ngFor="let Experiencia of experiencia">
            <li class="card" >
                <h3>{{Experiencia.nombreE}}</h3> - <h4>(tiempo)</h4>
                <p>{{Experiencia.descripcionE}}</p>
            </li>
            <button class="btn btn-warning" routerLink='/editexp/{{Experiencia.id}}'><i class="fa-solid fa-pen-to-square"></i> editar</button>
            <button class="btn btn-danger" (click)="delete(Experiencia.id)"> <i class="fa-solid fa-trash"></i> eliminar</button>
        </ul>
    </div>
</div>

